@if (data) {
<table>
  <tr>
    <th>Country Name</th>
    <td>{{data.name}}</td>
  </tr>
  <tr>
    <th>Country Code</th>
    <td>{{data.code}}</td>
  </tr>
  <tr>
    <th>Capitcal City</th>
    <td>{{data.capitalCity}}</td>
  </tr>
  <tr>
    <th>Income Level</th>
    <td>{{data.incomeLevel}}</td>
  </tr>
  <tr>
    <th>Region</th>
    <td>{{data.region}}</td>
  </tr>
  <tr>
    <th>Latitude</th>
    <td>{{data.latitude}}</td>
  </tr>
  <tr>
    <th>Longitude</th>
    <td>{{data.longitude}}</td>
  </tr>
</table>
} @else {
<h1>Choose one Country on map page to know more!</h1>
}